:root {
  --heading-font: "Cormorant Garamond", serif;
  --body-font: "Josefin Sans", sans-serif;
  --primary-accent-color: #d4af37;
  --secondary-accent-color: #f2ca53;
  --tertiary-accent-color: #b79417;
}
