:root {
  --heading-font: "Cormorant Garamond", serif;
  --body-font: "Josefin Sans", sans-serif;
  --primary-accent-color: #d4af37;
  --secondary-accent-color: #f2ca53;
  --tertiary-accent-color: #b79417;
}

body {
  background-color: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--body-font);
}

.bg-nav {
  background-color: #000;
}

.nav-bar img {
  width: 40px;
}

.hero,
.work-section {
  text-align: center;
  padding: 100px 20px;
}

.hero,
.work-section h1 {
  font-size: 72px;
}

.hero p {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
}

.hero h4 {
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 2;
}

.hero img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

.btn-branding {
  border: 2px solid var(--tertiary-accent-color);
  color: var(--secondary-accent-color);
  border-radius: 50px;
  font-size: 14px;
  padding: 18px 30px;
  margin: 25px auto 15px;
}

.about-section {
  padding: 100px 20px;
}

.about-section img {
  width: 100%;
  border-radius: 10px;
}

.about-section h1 {
  font-size: 52px;
}
.about-section h3 {
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-accent-color);
}

.about-section p {
  line-height: 30px;
  font-size: 18px;
}

.about-section ul {
  list-style: none;
  padding: 0;
}

.about-section li {
  color: #fff;
  font-size: 10px;
  margin: 10px;
}

.about-section a {
  color: #fff;
}

.work-section img {
  width: 100%;
  display: block;
  margin: 10px 0;
}

@media (max-width: 600px) {
  h4 {
    font-size: 9px;
  }

  .hero,
  .work-section {
    padding: 90px 20px;
  }

  .hero,
  .work-section h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 14px;
  }

  .btn-branding {
    font-size: 7px;
    padding: 9px 15px;
    margin: 13px auto 8px;
  }

  .about-section img {
    margin-bottom: 30px;
  }

  .about-section h1 {
    font-size: 26px;
  }

  .about-section h3 {
    text-align: center;
  }

  .about-section h3,
  p {
    font-size: 10px;
  }
}
