:root {
  --heading-font: "Cormorant Garamond", serif;
  --body-font: "Josefin Sans", sans-serif;
  --primary-accent-color: #d4af37;
  --secondary-accent-color: #f2ca53;
  --tertiary-accent-color: #b79417;
}

body {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 72px;
}

p {
  font-family: var(--body-font);
}

.hero {
  text-align: center;
  color: #fff;
  padding: 100px 20px;
}

.hero p {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
}

.hero h4 {
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 2;
}

.hero img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

.btn-branding {
  border: 2px solid var(--tertiary-accent-color);
  color: var(--secondary-accent-color);
  border-radius: 50px;
  font-size: 14px;
  padding: 18px 30px;
  margin: 25px auto 15px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  h4 {
    font-size: 9px;
  }

  .hero {
    padding: 50px 20px;
  }

  .hero p {
    font-size: 14px;
  }

  .btn-branding {
    font-size: 7px;
    padding: 9px 15px;
    margin: 13px auto 8px;
  }
}
